@import "bootstrap";

html, body {
  height: 100%;
  background-color: #fbf0e6;
}

body {
  padding-top: 54px;
}

.footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}

dt {
  float: left;
  width: 25%;
  padding: 0;
  margin: 0
}

dd {
  float: left;
  width: 75%;
  padding: 0;
  margin: 0
}

@media screen and (max-width: 768px) {
  dt {
    width: 100%;
  }
}